---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Define defaults for each variable.

$base-font-family: Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0089CF;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;

$body-background-color: #f5f5f5;
$header-font-family: "Roboto Condensed", sans-serif;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

// Import Roboto Condensed
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

// Import Font awesome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Add customizations
body {
  background-color: $body-background-color;
}

header, main {
  background-color: $background-color;
}

header.site-header {
  border-top: 0px;
  border-bottom: 1px solid $grey-color-light;
  min-height: 110px;
}

h1, h2, h3, h4, h5, h6, .site-title {
  font-family: $header-font-family;
  text-transform: uppercase;
}

h1.page-heading{
  font-size: 36px;
}

.site-nav, .site-title {
  line-height: 56px;
  padding-top: 40px;
}

.site-title {
  font-size: 28px;
  padding-left: 220px;
}

.site-nav {
  font-size: 21px;
}

img.brand{
  height: 60px;
  position: absolute;
  top: 30px;
}

.post-meta {
  font-size: $base-font-size;
  color: $grey-color;
}

a { color: $brand-color; text-decoration: none; }
a:visited { color: $brand-color; }
a:hover { color: #111; text-decoration: underline; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 36px;
}


a.button {
    text-decoration: none;
   background: $brand-color;
   padding: 8.5px 17px;
   color: white;
   font-size: 20px;
   text-decoration: none;
   vertical-align: middle;
   }
a.button:hover, a.button:active {
   background: #4084B6;
   }
