<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          <div class="home">
              
            {{ content }}

            <h1 class="page-heading">Latest News</h1>

            <ul class="post-list">
              {% for post in site.posts limit:3 %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                  </h2>
                </li>
              {% endfor %}
            </ul>
            
            <p><a class="btn" href="{{ "/news/" | prepend: site.baseurl }}">More news</a></p>

          </div>
      </div>
    </main>

    {% include footer.html %}

  </body>
  
  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url | default: site.github.url %}
  <script src="//code.jquery.com/jquery-3.1.1.slim.js"   integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="   crossorigin="anonymous"></script>
  <script src="{{ "/js/main.js" | prepend: full_base_url }}" charset="utf-8"></script>
  
</html>
